# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# IDE
.idea/

# Claude Code
.claude/

# Build artifacts (no longer used)
node_modules
dist
.cache